/* HEADER */
header {
    border-bottom: 1px solid #DDD;
}
#main-navbar .navbar-nav .nav-item .nav-link {
    color: #54BFAF;
    transition: font-size 0.3s ease;
}
#main-navbar .navbar-nav .nav-item .nav-link:hover {
    color: #02483E;
    font-size: 18px;
}
/* SEARCH */
#search-input {
    width: 0;
    opacity: 0;
    transition: width 0.6s ease, opacity 0.6s ease;
    position: absolute;
    right: 100%;
    top: 0;
    z-index: 1;
}
#search-input.active {
    width: 400px;
    opacity: 1;
}
#search-icon {
    border: none; 
    color: #02483E; 
    padding: 10px 14px; 
    cursor: pointer; 
    background-color: transparent; 
    font-size: 22px;
    box-shadow: none;
}
/* FOOTER */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #02483E;
    color: white;
}
.text-lg {
    font-size: 17px;
}
.icon-lg{
    font-size: 24px;
    color: #54BFAF; 
}
/* HOME */
.logo-image {
    width: 100%; /* Haz que la imagen ocupe el 100% del ancho del contenedor */
    max-width: 250px; /* Establece un ancho máximo para la imagen */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
}
.btn-login {
    background-color: #54BFAF;
    color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}
.btn-signup {
    background-color: #02483E;
    color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}
.btn-login,
.btn-signup {
    width: 45%; /* Establece el ancho de los botones */
    margin: 10px auto; /* Centra los botones y agrega un poco de espacio entre ellos */
}

/* MEDIA QUERIES */
@media (max-width: 576px) {
    /* HOME */
    .btn-container {
        display: flex; /* Utilizar flexbox */
        justify-content: center; /* Centrar horizontalmente los elementos dentro del contenedor */
        align-items: center; /* Centrar verticalmente los elementos dentro del contenedor */
    }
    .btn-login,
    .btn-signup {
        width: 45%; /* Ancho para que los botones ocupen el 45% del contenedor */
        margin: 10px; /* Añadir un margen entre los botones */
    }
    /* SEARCH */
    #search-input {
        width: 0;
        opacity: 0;
        transition: width 0.6s ease, opacity 0.6s ease;
        position: absolute;
        right: 0; /* Posición desde la derecha */
        top: 12px; /* Posición desde arriba */
        z-index: 1;
    }
    #search-input.active {
        width: 350px;
        opacity: 1;
    }
}