{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron text-center" style="background-color: #02483E; color: #fff;">
    <h1 class="display-4">Bienvenido a BanquetBuddy</h1>
    <p class="lead">Tu plataforma para la gestión y búsqueda de trabajos en catering.</p>
</div>

<!-- Contenido principal -->
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2 style="color: #54bfaf;">Nuestra Misión</h2>
            <p>En BanquetBuddy, nos dedicamos a simplificar la gestión de caterings y facilitar la conexión entre profesionales y empleadores en la industria de catering.</p>
        </div>
        <div class="col-lg-6">
            <h2 style="color: #54bfaf;">¿Por qué BanquetBuddy?</h2>
            <p>Con BanquetBuddy, puedes encontrar oportunidades laborales en el mundo del catering o encontrar el personal adecuado para tus eventos. ¡Hagamos que la planificación de eventos sea más fácil!</p>
        </div>
    </div>

    <hr style="background-color: #54bfaf;">

    <!-- Sección de Servicios -->
    <div class="row">
        <div class="col-lg-12">
            <h2 style="color: #54bfaf;">Nuestros Servicios</h2>
            <p>Ofrecemos una variedad de servicios para cubrir todas tus necesidades en el ámbito de catering. Desde la búsqueda de trabajos hasta la gestión completa de eventos, BanquetBuddy está aquí para ti.</p>
        </div>
    </div>

    <hr style="background-color: #54bfaf;">

    <!-- Sección de Testimonios -->
    <div class="row">
        <div class="col-lg-12">
            <h2 style="color: #54bfaf;">Testimonios</h2>
            <p>"Gracias a BanquetBuddy, encontré el trabajo perfecto para mis habilidades en la industria de catering. ¡Altamente recomendado!" - Cliente Satisfecho</p>
            <p>"La plataforma es intuitiva y fácil de usar. Encontré personal para mi catering en cuestión de días." - Chef Ejecutivo</p>
            <p>"BanquetBuddy ha simplificado enormemente nuestra gestión de eventos. ¡Una herramienta imprescindible para cualquier empresa de catering!" - Empresa de Catering</p>
            <p>"Increíble servicio al cliente. Siempre están dispuestos a ayudar y resolver cualquier problema." - Usuario Frecuente</p>
        </div>
    </div>

    <hr style="background-color: #54bfaf;">

    <!-- Sección de Contacto -->
    <div class="row">
        <div class="col-lg-12">
            <h2 style="color: #54bfaf;">Contacto</h2>
            <p>¿Tienes alguna pregunta o sugerencia? ¡Contáctanos hoy mismo!</p>
            <!-- Puedes agregar un formulario de contacto aquí -->
        </div>
    </div>
</div>

{% endblock %}