{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Preguntas Frecuentes</title>
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .faq-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .faq-item {
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .faq-title {
    cursor: pointer;
    padding: 10px;
    font-weight: bolder;
  }
  .faq-answer {
    padding: 25px;
    display: none;
  }
  .faq-item.open .faq-answer {
    display: block;
  }
</style>
</head>
<body>

    <div class="jumbotron text-center" style="background-color: #02483E; color: #fff;">
        <h1 class="display-4">FAQ</h1>
        <p class="lead">Respondemos a tus dudas</p>
    </div>

<div class="faq-container">
    <div class="faq-item">
        <div class="faq-title">¿Qué tipos de eventos pueden beneficiarse de vuestro servicio de catering?</div>
        <div class="faq-answer">
            Nuestras empresas ofrecen un servicio de catering versátil y adaptable a una amplia gama de eventos. 
            Desde bodas íntimas hasta grandes celebraciones corporativas, pasando por eventos sociales como cumpleaños,
            aniversarios, reuniones familiares, lanzamientos de productos, conferencias y mucho más.
            Estamos comprometidos a brindar una experiencia gastronómica excepcional, independientemente del tipo de evento que estés planeando.
        </div>
      </div>
    <div class="faq-item">
    <div class="faq-title">¿Cómo puedo solicitar un presupuesto para mi evento?</div>
    <div class="faq-answer">
        Explorando las diversas opciones de servicios de catering, puedes utilizar nuestros prácticos filtros de búsqueda y completar un formulario con tus preferencias.
        Una vez enviado, nuestra empresa de catering se encargará de gestionar todos tus requerimientos y deseos para el evento, incluido el presupuesto.
    </div>
  </div>
  <div class="faq-item">
    <div class="faq-title">¿Qué opciones de menú ofrecéis para eventos como bodas o celebraciones?</div>
    <div class="faq-answer">
        Cada empresa de catering presenta un menú único. Explora a través de nuestra página o utiliza nuestros filtros para encontrar el catering que ofrezca el menú que más te guste.
        Cada servicio de catering cuenta con especialidades diferentes.
    </div>
  </div>
  <div class="faq-item">
    <div class="faq-title">¿Cuál es el proceso para subir mi currículum vitae al sitio web y aplicar a las oportunidades laborales disponibles?</div>
    <div class="faq-answer">
        Busca oportunidades de empleo en empresas de catering que estén contratando personal. Envía tu CV a estas empresas y podrían considerarte para el puesto.
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-title">Atencion al cliente</div>
    <div class="faq-answer">
        Para cualquier consulta, puedes ponerte en contacto con nosotros a través del correo electrónico atencionalcliente@banquetbuddy.es o mediante la pagina de contacto que encontrarás en nuestra web.

        El horario de atención al cliente es de lunes a viernes de 09.00h a 14.00h.
        
        Debido a la alta demanda de consultas, te atenderemos en un plazo de 24-48h.
    </div>
  </div>
 

</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const faqItems = document.querySelectorAll('.faq-item');

    faqItems.forEach(function (item) {
      const faqTitle = item.querySelector('.faq-title');

      faqTitle.addEventListener('click', function () {
        const isOpen = item.classList.contains('open');

        faqItems.forEach(function (otherItem) {
          otherItem.classList.remove('open');
        });

        if (!isOpen) {
          item.classList.add('open');
        }
      });
    });
  });
</script>

</body>
</html>


{% endblock %}