{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img src="{% static 'core/images/Logo-transparente.png' %}" alt="Logo" class="logo-image">
            </div>
            <div class="col-12 text-center mt-4 btn-container">
                <a href="#" class="btn btn-login mr-3 d-block d-sm-none">Log in</a>
                <a href="/register_choice" class="btn btn-signup ml-3 d-block d-sm-none">Sign up</a>
            </div>            
        </div>
    </div>
{% endblock %}
