<!-- login.html -->

{% extends 'core/base.html' %}

{% block title %}Inicio de sesión{% endblock %}

{% block content %}
    <div class="container">
        <h2>Iniciar sesión</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Email:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_password">Contraseña:</label>
                {{ form.password }}
            </div>
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>
{% endblock %}
