{% extends 'core/base.html' %} {% load static %} {% block content %}

<div class="container my-5">
  <div class="row justify-content-center mb-4">
    <div class="col-md-6">
      <div class="card" style="background-color: #02483e">
        <div class="card-body">
          <h2 class="card-title text-center text-white">Perfil de Usuario</h2>
          <ul class="list-group list-group-flush rounded">
            <li class="list-group-item">
              <strong>Email:</strong> {{ user.email }}
            </li>
            <li class="list-group-item">
              <strong>Username:</strong> {{ user.username }}
            </li>
            <li class="list-group-item">
              <strong>Nombre:</strong> {{ user.first_name }}
            </li>
            <li class="list-group-item">
              <strong>Apellido:</strong> {{ user.last_name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <a href="{% url 'profile_edit' %}" class="text-decoration-none">
      <button
        class="btn btn-rounded text-white"
        style="background-color: #54bfaf"
      >
        Editar perfil
      </button>
    </a>
  </div>
</div>

{% endblock %}
