{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="container mb-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card" style="background-color: #02483E;">
                <div class="card-body">
                    <h2 class="card-title text-center text-white">Editar Perfil</h2>
                    <form method="post" action="{% url 'profile_edit' %}" id="userForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email" class="text-white">Correo Electrónico:</label>
                            <input type="email" class="form-control" id="email" placeholder="Tu correo electrónico" value="{{ user.email }}" name="email">
                        </div>
                        <div class="form-group">
                            <label for="username" class="text-white">Nombre de Usuario:</label>
                            <input type="text" class="form-control" id="username" placeholder="Tu nombre de usuario" value="{{ user.username }}" name="username">
                        </div>
                        <div class="form-group">
                            <label for="firstName" class="text-white">Nombre:</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Tu nombre" value="{{ user.first_name }}" name="first_name">
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="text-white">Apellido:</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Tu apellido" value="{{ user.last_name }}" name="last_name">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" style="background-color: #54bfaf;">Guardar Cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}