{% extends 'core/base.html' %} {% block content %}

<style>
  body,
  html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .register-form {
    background-color: #54bfaf;
    padding: 20px;
    height: 100%;
    width: 100%;
    border-radius: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden; /* Evita que los elementos desborden del contenedor */
  }

  .rounded-input {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 8px;
    width: 90%; /* Establece el ancho en porcentaje */
    margin: 0 auto; /* Centra horizontalmente */
  }

  .register-heading {
    padding-bottom: 40px;
  }

  .btn {
    background-color: #02483e;
    color: white;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 10px;
  }
  .alert.alert-danger {
    font-size: 12px; /* Tamaño de la fuente más pequeño */
  }
</style>
<body>
  <div class="container mt-4 mb-4">
    <div
      class="row d-flex align-items-center justify-content-center"
      style="height: 80vh"
    >
      <div class="col-md-7 mx-auto">
        <div class="register-form">
          <h2 class="register-heading"><u>Sign Up</u></h2>
          <form method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                {% for field in user_form %}
                <div class="form-group">
                  <input
                    type="{{ field.field.widget.input_type }}"
                    name="{{ field.html_name }}"
                    placeholder="{{ field.label }}"
                    class="rounded-input {% if field.errors %}is-invalid{% endif %}"
                    value="{% if field.value %}{{ field.value }}{% endif %}"
                    required
                  />
                  {% for error in field.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                </div>
                {% endfor %}
              </div>
              <div class="col-md-6">
                {% for field in employee_form %}
                <div class="form-group">
                  <input
                    type="{{ field.field.widget.input_type }}"
                    name="{{ field.html_name }}"
                    placeholder="{{ field.label }}"
                    class="rounded-input {% if field.errors %}is-invalid{% endif %}"
                    value="{% if field.value %}{{ field.value }}{% endif %}"
                    required
                  />
                  {% for error in field.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                </div>
                {% endfor %}
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}
