{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="price-heading clearfix">
                <h1>Subscription Plans</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    
    <div class="row">
        <div class="col-md-4">
            <div class="generic_content clearfix">
                <div class="generic_head_price clearfix">
                    <div class="generic_head_content clearfix">
                        <div class="head_bg"></div>
                        <div class="head">
                            <span>Basic</span>
                        </div>
                    </div>
                    <div class="generic_price_tag clearfix">  
                        <span class="price">
                            <span class="currency">9</span>
                            <span class="cent">.99</span>
                            <span class="sign">€</span>
                            <span class="month">/MON</span>
                        </span>
                    </div>
                </div>                            
                <div class="generic_feature_list">
                  <ul>

                    <li>Company Publication</li>
                    <li>Chat with Customers</li>
                    <li style="font-size: 16px; margin-bottom: 10px;">Insights Panel</li>
                    </ul>
                </div>
                <div class="generic_price_btn clearfix">
                  <a class="" href="">Get ready</a>
                </div>
            </div>   
        </div>
        
        <div class="col-md-4">
            <div class="generic_content active clearfix">
                <div class="generic_head_price clearfix">
                    <div class="generic_head_content clearfix">
                        <div class="head_bg"></div>
                        <div class="head">
                            <span>Premium</span>
                        </div>
                    </div>
                    <div class="generic_price_tag clearfix">  
                        <span class="price">
                            <span class="currency">19</span>
                            <span class="cent">.99</span>
                            <span class="sign">€</span>
                            <span class="month">/MON</span>
                        </span>
                    </div>
                </div>                            
                <div class="generic_feature_list">
                  <ul>
                    <li>Company Publication</li>
                    <li>Chat with Customers</li>
                    <li>Calendar of Events</li>
                    <li>Task Management</li>
                    <li>Reports and Proposals</li>
                    </ul>
                </div>
                <div class="generic_price_btn clearfix">
                  <a class="" href="">Get ready</a>
                </div>
            </div>     
        </div>

        <div class="col-md-4">
            <div class="generic_content clearfix">
                <div class="generic_head_price clearfix">
                    <div class="generic_head_content clearfix">
                        <div class="head_bg"></div>
                        <div class="head">
                            <span>Pro</span>
                        </div>
                    </div>
                    <div class="generic_price_tag clearfix">  
                        <span class="price">
                            <span class="currency">29</span>
                            <span class="cent">.99</span>
                            <span class="sign">€</span>
                            <span class="month">/MON</span>
                        </span>
                    </div>
                </div>                              
                <div class="generic_feature_list">
                  <ul>
                    <li>Company Publication</li>
                    <li>Chat with Customers</li>
                    <li>Calendar of Events</li>
                    <li>Task Management</li>
                    <li>Reports and Proposals</li>
                    <li>Employee hiring</li>
                    </ul>
                </div>
                <div class="generic_price_btn clearfix">
                  <a class="" href="">Get ready</a>
                </div>  
            </div>   
        </div>
    </div>  
</div>

{% endblock %}