{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<style>
    .container {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 20px;
    }
    .col-md-4 {
        display:inline-block;
        background-color:#f3f3f3;
        max-width:300px;
        border-radius:10px;
        margin-bottom:50px;
        margin-right: 5%;
        box-shadow: 0px 2px 5px #ddd;
    }
    .price_tag {
        margin-top: 10px;
        font-size:160%;
    }
    .feature_list {
        margin-top: 10px;
        list-style: none;
    }
    .head {
        font-weight: bold;
        margin-top: 5%;
        font-size:150%;
        text-align:left;
    }
    ul {
        list-style: none;
        text-align:left
    }
    .title {
        text-align: center;
        margin-bottom: 5%;
        margin-top: 2%;
    }
    .plan-btn {
        margin-bottom: 20px;
        bottom: 10px;
    }

</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="title">
                <h1>Subscription Plans</h1>
            </div>
        </div>
    </div>
</div>
<div class="container" >
    <div class="row">
        <div class="col-md-4">
            <div class="head">
                <span>Basic</span>
            </div>
            <div class="price_tag">  
                <span class="price">
                    <span class="currency">9</span>
                    <span class="cent">.99</span>
                    <span class="sign">€</span>
                    <span class="month">/MON</span>
                </span>
            </div>                          
            <div class="feature_list" style="margin-top: 15%;">
                <ul>
                    <li>✔ Company Publication</li>
                    <li>✔ Chat with Customers</li>
                    <li>✔ Insights Panel</li>
                </ul>
                </div>
                <div class="plan-btn" style="margin-top:20% ;">
                    <button type="button" href="" class="btn btn-dark">Get ready</button>
                </div>
            
        </div>
        
        <div class="col-md-4">
            <div class="head">
                <span>Premium</span>
            </div>
            <div class="price_tag">  
                <span class="price">
                    <span class="currency">19</span>
                    <span class="cent">.99</span>
                    <span class="sign">€</span>
                    <span class="month">/MON</span>
                </span>
            </div>                           
            <div class="feature_list" style="margin-top: 8%;">
                <ul>
                    <li>✔ Company Publication</li>
                    <li>✔ Chat with Customers</li>
                    <li>✔ Calendar of Events</li>
                    <li>✔ Task Management</li>
                    <li>✔ Reports and Proposals</li>
                </ul>
            </div>
            <div class="plan-btn" style="margin-top:10% ;">
                    <button type="button" href="" class="btn btn-dark">Get ready</button>
            </div>
        </div>

        <div class="col-md-4">
            <div class="head">
                <span>Pro</span>
            </div>
            <div class="price_tag">  
                <span class="price">
                <span class="currency">29</span>
                <span class="cent">.99</span>
                <span class="sign">€</span>
                <span class="month">/MON</span>
                </span>
            </div>                       
            <div class="feature_list">
                <ul>
                    <li>✔ Company Publication</li>
                    <li>✔ Chat with Customers</li>
                    <li>✔ Calendar of Events</li>
                    <li>✔ Task Management</li>
                    <li>✔ Reports and Proposals</li>
                    <li>✔ Employee hiring</li>
                </ul>
            </div>
            <div class="plan-btn">
                <button type="button" href="" class="btn btn-dark">Get ready</button>
            </div>  
        </div>
    </div>  
</div>
{% endblock %}